<div class='card-header bg-danger text-white'>
    <h4>Login Form</h4>
</div>
<div class="clas">
    <form (submit)="login($event)">
        <div class="form-group">
            <label for="nm">Enter Username :</label>
            <input type="text" class="form-control" name='username' id='nm'>
        </div>
        <div class="form-group">
            <label for="ps">Enter Password :</label>
            <input type="password" class="form-control" name='password' id='ps'>
        </div>
        <button type='submit' class='btn btn-danger'>Log In</button>
    </form>
</div>